@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Work+Sans:wght@700&display=swap');


.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    overflow-x: hidden;
    overflow-y: visible;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family:Arial;

}

li a:hover {
    background-color: #111;
}

.logo {
    max-height:40px;
}

.logoLink {
    padding:22.5px 20px;
}

.logoListItem {
    float:right;
}


aside {
    background-color: #999999;
}

.asideNav {
    list-style-type: none;
}

.asideNav li {
    float: left;
}

.asideNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:Arial;

}

p {
    font-family:Arial;
}

h1 {
    font-family:'Poppins', sans-serif;
    font-size: 45px;
}


input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

input:focus {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 2px solid hotpink;
}