@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Work+Sans:wght@700&display=swap');


.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    overflow-x: hidden;
    overflow-y: visible;
}


.navli {
    float: left;
}

.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family:Arial;

}

.navli a:hover {
    background-color: #111;
}

.logo {
    max-height:40px;
}

.logoLink {
    padding:22.5px 20px !important;
}

.logoListItem {
    float:right;
}

#location-text{
    resize:none;

}

aside {
    background-color: #999999;
    float:left;
}

.asideNav {
    list-style-type: none;
    width:15vw;
    max-width:200px;
    float:left;
    border: 10px solid pink;
}

.asideNav .navli {
    float: left;
}

.asideNav .navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family:Arial;

}

p {
    font-family:Arial;
}

h1 {
    font-family:'Poppins', sans-serif;
    font-size: 45px;
}

form{
}

fieldset{
    width:45vw;
    margin:20px 0px;
    border: 1px solid Gray;
    padding:20px;
}

legend {
    font-family:Arial;
    font-size:25px;
}

label {
    font-family:Arial;
}

input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

input:invalid {
    border: 2px solid red;
    box-shadow: 0px 4px 11px -3px white;
    animation:flashingred 1s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flashingred{
    from{box-shadow: 0px 4px 11px -3px white}
    to{box-shadow: 0px 4px 11px -3px red}
}

textarea{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 2px solid #5a5a5a;
    border-radius: 2px;

}

input:focus {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 2px solid hotpink;
}






/* CODE FOR GENERATING EMERGENCY WINDOW*/
.emergency {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.emergency .emergencytext {
    visibility: visible;
    width: 40vw;
    background-color: #efefef;
    border: 2px solid gray;
    text-align: center;
    border-radius: 6px;
    padding:15px;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    transform: translate(0%, 0%);
    -webkit-box-shadow: 0px 50px 83px 41px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 50px 83px 41px rgba(0,0,0,0.75);
    box-shadow: 0px 50px 83px 41px rgba(0,0,0,0.75);
}




.emergency .hide {
    visibility: hidden;
}

#emergencyHeader {
    font-family:'Poppins', sans-serif;
}

#emergencyNumber{
    animation:flashingEmergency 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flashingEmergency{
    from{box-shadow: 0px 4px 11px -3px white;}
    to{box-shadow: 0px 4px 11px -3px blue;
    }
}

/* POPUP END*/

#admin-top{
    display: flex;
    flex-wrap: nowrap;
}

#admin-top > div {
    margin: 10px;
}

#top-row > div{
    margin: 10px;
}

.dropdown{
    border: 2px solid;
    position: relative;
    display: inline-block;
    background-color: #262626;
    color: #f9f9f9;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Arial;
}
.dropdown:hover .dropdown-elements{
    display: block;
}
.dropdown-elements{
    color: #111111;
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #888888;
    padding: 12px 16px;
}

.dropdown-elements > div{
    padding: 10px;
}
.dropdown-elements > div:hover{
    background-color: darkgray;
}


.card{
    border-radius: 25px;
    border: 1px solid;
    padding: 20px;
    background-color: #c7c7c7;
    cursor:pointer;
}
.card > div{
    margin: 5px;
}


.card-status > p{
    margin-right: 80px;

}


.detailsForm label{
    margin:5px;
}

.detailsForm input{
    margin:5px;
    margin-bottom:10px;
}

/* The miniFieldSet and miniLegend classes are for stylin fieldsets within fieldsets.*/
.miniFieldSet{
    border: 1px solid lightgray;
}
.miniLegend{
    font-size: 16px; margin:0px;
}
.breadcrumb{
    padding: 10px 16px;
    list-style: none;
    font-weight: bold;
    font-family:Arial;
}
.breadcrumb > li{
    display: inline;
    font-size: 18px;
}

.breadcrumb li a{
    color: #111111;
    text-decoration: none;
}

.breadcrumb > a:hover{
    color: #01447e;
    text-decoration: underline;
}

.breadcrumb li:last-child {
    text-decoration: underline;
}

.breadcrumb li+li:before{
    padding: 8px;
    color: black;
    content: ">";
}

h2 {
    font-family:'Poppins', sans-serif;
}

.successMessage{
    margin-top:0;
    margin-bottom:50px;
}


.fault-cards {
    gap: 10px;
}

input[type=file] {
    width: 40vw;
    max-width: 100%;
    padding: 5px;
    border: 2px solid black;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: 1px solid gray;
    background: #e5e5e5;
    padding: 20px 20px;
    margin: 20px 20px;
    color: #000000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #000000;
    color: white;

}